# Unity
unity/Library/
unity/Temp/
unity/Obj/
unity/Build/
unity/Builds/
unity/Logs/
unity/UserSettings/
unity/MemoryCaptures/
unity/Recordings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Python
_pycache_/
*.py[cod]
*$py.class
.env
.venv/
venv/
*.egg-info/

# Azure
local.settings.json
.azure/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
